
#container{
    font-family: cursive;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    background: lightblue;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    cursor: pointer;
    font-family: cursive;
}
button:hover{
    background: lightblue;
}
button:active{
    background: lightblue;
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width: 300px;
    margin: 5px;
}
